---
import Button from "./Button.astro"
import Heading1 from "./Heading1.astro"
import Heading2 from "./Heading2.astro"
---
<div class="py-20 text-center space-y-4 bg-slate-100">
	<Heading1 text="lesson 3" /> 
	<Heading2 text="Это урок 3 модуля dev-core-108" /> 
	<Button />
</div>