---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Обо мне - Мой сайт">
    <h1 class="pt-2 pl-2 text-3xl text-blue-500">Обо мне</h1>
    <p class="pl-2 mt-2 text-xl">Здесь вы узнаете больше о моей карьере и навыках.</p>
</BaseLayout>