---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Главная - Мой сайт">
  <h1 class="pt-2 pl-2 text-3xl text-blue-500">Добро пожаловать на мой сайт!</h1>
  <p class="pl-2 mt-2 text-xl">Это главная страница, созданная с использованием Astro JS.</p>
</BaseLayout>