---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Портфолио - мой сайт">
    <h1 class="pt-2 pl-2 text-3xl text-blue-500">Мое портфолио</h1>
    <p class="pl-2 mt-2 text-xl">Здесь находятся мои проекты и работы.</p>
</BaseLayout>
