button {
    background-color: lightblue;
    border: none;
    padding: 8px 15px;;
}
button:hover {
    color: white;
    background-color: blue;
}  

button:focus {
    color: white;
    background-color: black;
}  

button:active {
    font-size: 20px;
}

h2::before {
    content: "Пост: "
}

h2::after {
    content: " >>>"
}

p::first-letter {
    font-size: 25px; 
}

div:nth-child(even) {
    background-color: lightcoral;
}